/*************
General Elements
**************/

.hide {
  display: none !important;
}

/*************
Images
**************/

.pokemon-img {
  width: 160px;
  margin: 0 auto;
  margin-bottom: 2rem;
  transform: scaleX(-1);
}

.battle-logo {
  width: 200px;
}

.energy-balls {
  width: 60px;
}

/*************
Buttons / Links / inputs
**************/

.search-input {
  width: 40vw;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  margin-right: 0.25rem;
  margin-bottom: 1rem;
}

.explore-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;
  background-color: var(--r);
  color: var(--wht);
  cursor: pointer;
}

/*************
Typography
**************/

.main-heading {
  font-weight: 700;
  font-size: 1.25rem;
  /* color: #778899; */
  color: var(--blk);
  text-align: center;
}

.main-content {
  text-align: center;
  color: var(--b);
  margin-bottom: 1rem;
}

.pokemon-name {
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
  font-weight: 700;
  color: var(--b);
  text-align: center;
  margin-bottom: 1rem;
}

.abilities-heading,
.stats-heading,
.type-heading {
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  font-weight: 700;
  color: var(--b);
}

.stats-heading {
  /* style added as cant add margin-bottom to .abilities-info */
  margin-top: 1rem;
}

.abilities-info,
.stat-info {
  text-align: center;
}

.battle-play-heading {
  color: var(--r);
  text-align: center;
  font-size: 1.25rem;
  font-family: "Luckiest Guy", cursive;
}

.battle-arena-logo-heading {
  font-size: 1.25rem;
  font-family: "Luckiest Guy", cursive;
  color: var(--r);
  padding-left: 8px;
  margin-top: -4px;
}

/*************
Layout
**************/

.main {
  width: 100%;
}

.main-container {
  width: 90%;
  margin: 0 auto;
}

.pokemon-form {
  text-align: center;
}

.pokmon-container {
  width: 100%;
}

.pokemon {
  margin: 1rem 0;
}

.pokemon-type {
  margin-bottom: 1rem;
  text-align: center;
}

.type-icon-container {
  display: inline-block;
  margin: 0 1rem;
}

.battle-arena-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

/*************
Media Queries
**************/

/* ------------------------------------------------------------------------- */

@media (min-width: 740px) {
  /*************
General Elements @740px
**************/

  /*************
Images @740px
**************/

  /*************
Buttons / Links @740px
**************/

  /*************
Typography @740px
**************/

  .stats-heading {
    /* style removed from 1rem global style as couldn't add margin-bottom to .abilities-info */
    margin-top: 0;
  }

  /*************
Layout @740px
**************/

  .pokemon-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .pokemon-type {
    width: 100%;
  }

  .pokemon-abilities,
  .pokemon-stats {
    width: 48%;
  }
}

/* ------------------------------------------------------------------------- */

@media (min-width: 900px) {
  /*************
General Elements
**************/

  /*************
Images
**************/

  /*************
Buttons / Links
**************/

  /*************
Typography
**************/

  /*************
Layout
**************/

  .pokemon-type,
  .pokemon-abilities,
  .pokemon-stats {
    width: 30%;
  }

  /*************
Media Queries
**************/
}
