html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /* font-family: "Luckiest Guy", cursive; */
}

:root {
  --b: #277bc0;
  --lb: #a2d2ff;
  --y: #ffcb42;
  --o: #ffb200;
  --r: #ff4840;
  --ly: #fff4cf;
  --wht: #f8f8f8;
  --blk: #28282b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  background-color: var(--b);
  padding-top: 5rem;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 400px;
}

.container {
  background-color: var(--y);
  width: 70%;
  min-height: 80vh;
  box-shadow: 20px 20px 60px #2169a3, -20px -20px 60px #2d8ddd;
  border-radius: 16px;
}

/* .top-verticle-line {
  height: 240px;
  border-left: 3px solid var(--wht);
  position: fixed;
  top: 0;
  left: 8vw;
}

.bottom-verticle-line {
  height: 240px;
  border-left: 3px solid var(--wht);
  position: fixed;
  bottom: -20px;
  left: 92vw;
} */

/*************
General Elements
**************/

/*************
Images
**************/

img {
  width: 100%;
  height: auto;
  display: block;
}

/* .pokeball {
  width: 60px;
} */

/*************
Buttons / Links
**************/

/*************
Typography
**************/

/*************
Layout
**************/

.top-img-container {
  position: relative;
  left: -32px;
  top: 140px;
}

.bottom-img-container {
  position: relative;
  right: 32px;
  top: 16px;
}

/*************
Media Queries
**************/
